Screen4.SchedulerSln/.vs/ProjectEvaluation/screen4.schedulersln.metadata.v7.bin
Screen4.SchedulerSln/.vs/ProjectEvaluation/screen4.schedulersln.metadata.v7.bin
Screen4.SchedulerSln/.vs/ProjectEvaluation/screen4.schedulersln.metadata.v7.bin
Screen4.SchedulerSln/.vs/Screen4.SchedulerSln/DesignTimeBuild/.dtbcache.v2
Screen4.SchedulerSln/.vs/ProjectEvaluation/screen4.schedulersln.projects.v7.bin
Screen4.SchedulerSln/.vs/Screen4.SchedulerSln/v17/.suo
Screen4.SchedulerSln/.vs/Screen4.SchedulerSln/v17/.futdcache.v2
Screen4.SchedulerSln/.vs/Screen4.SchedulerSln/FileContentIndex/read.lock
Screen4.SchedulerSln/.vs/Screen4.SchedulerSln/FileContentIndex/957545fe-9415-49c1-903e-be0675d9898e.vsidx
Screen4.SchedulerSln/.vs/Screen4.SchedulerSln/FileContentIndex/855488db-da3e-4e47-a173-b08bc681b2da.vsidx
Screen4.SchedulerSln/.vs/Screen4.SchedulerSln/FileContentIndex/39092cac-1b07-40a3-9cd6-e0ccb5f1211f.vsidx
Screen4.SchedulerSln/.vs/Screen4.SchedulerSln/FileContentIndex/4f5e1c25-6f05-4e5b-a98b-f02943e0d213.vsidx
Screen4.SchedulerSln/.vs/Screen4.SchedulerSln/FileContentIndex/0ef2cfca-2ba6-406c-8513-4e54571346ab.vsidx
